#chatinitiatebtn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: fixed;
    bottom: 30px;
    right: 35px;
    cursor: pointer;
    animation-name: circleanim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#chatinitiatebtn:hover {transform: scale(1.2); animation-iteration-count: 0;}

@keyframes circleanim {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

#chatwindow{
    position: fixed;
    bottom: 15px;
    right: 30px;
    /* animation-name: chatwindowpopupanim; */
    animation-duration: 1s;
    width: 400px;
    border-radius: 5px;
    display: none;
}

#chatwindowheader{
    background-color: #4968A6;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#onlinecircle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-left: 10px;
    margin-bottom: 2px;
    animation-name: onlinecircleanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes onlinecircleanim {
    0% {background-color: #4968A6;}
    50% {background-color: greenyellow;}
    100% {background-color: #4968A6;}
}

#chatwindowcontents{
    background-color: #E9ECEF;
    height: 300px;
}

#chatwindowcontents{
    overflow: scroll;
    overflow-x: hidden;
}

#chatwindowmsgscontainer{
    padding: 10px;
}

.chatwindowcontents .botmsg{
    background-color: #4968A6;
    width: max-content;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

.chatwindowcontents .usermsg{
    background-color: #05C7F2;
    width: max-content;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    color: #FFFFFF;
}

.chatwindowcontents .botmsgspan{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.chatwindowcontents .usermsgspan{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes chatwindowpopupanim{
    0% {transform: translate(0, 500px);}
    100% {transform: translate(0, 0);}
}

@keyframes chatwindowpopdownanim{
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 500px);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 